@use "@forever/sass-utils/utils-mixins" as u;
@use "@forever/sass-utils/mixins" as m;
@use "@forever/sass-utils/variables" as v;

.skeleton_detail_pictures_section {
    display: flex;
    gap: 15px;
    height: 550px;

    @include m.responsive(lg) {
        @include u.col-start;
        flex-direction: column-reverse;
        height: 600px;
    }

    @include m.responsive(xls) {
        height: 500px;
    }

    .skeleton_detail_pictures_section_left {
        @include u.col-start;
        gap: 10px;
        height: 100%;
        width: 20%;


        @include m.responsive(lg) {
            @include u.row-center;
            height: 170px;
            width: 100%;
        }

        @include m.responsive(xls) {
            height: 120px;
        }

        div {

            @include u.skeleton_animate(100%, 100%);
            @include u.flex-center;

            @include m.responsive(sm) {
                @include u.skeleton_animate(100%, 100%);
            }

            svg {
                width: 40px;
                height: 40px;
            }
        }
    }

    .skeleton_detail_pictures_section_right {
        @include u.skeleton_animate(70%, 100%);
        @include u.flex-center;

        @include m.responsive(lg) {
            width: 100%;
        }

        svg {
            width: 140px;
            height: 140px;
        }
    }
}

.skeleton_product_detail {
    .skeleton_product_detail_title {
        @include u.skeleton_animate(70%, 30px);
        margin-top: 10px;
    }

    .skeleton_product_detail_rating {
        @include u.skeleton_animate(200px, 20px);
        margin: 15px 0;

        .skeleton_product_detail_stars {
            @include u.row-center;
            gap: 2px;

            .skeleton_product_detail_star_icon {
                opacity: 0.5;

                &.starred {
                    opacity: 1;
                }
            }
        }
    }

    .skeleton_product_detail_price {
        @include u.skeleton_animate(100px, 40px);
        margin-bottom: 20px;
    }

    .skeleton_product_detail_desc {
        @include u.skeleton_animate(70%, 90px);
        margin-bottom: 30px;
    }

    .skeleton_product_detail_select_size {
        .skeleton_product_detail_select_size_title {
            @include u.skeleton_animate(100px, 10px);
        }

        .skeleton_product_detail_sizes {
            @include u.row-center;
            gap: 10px;
            margin: 20px 0;

            div {
                @include u.skeleton_animate(50px, 50px);

                @include m.responsive(xs) {
                    @include u.skeleton_animate(40px, 40px);
                }
            }
        }
    }

    .skeleton_product_detail_short_features {
        border-top: 1px solid v.$secondary-color;
        margin: 20px 0;
        padding-top: 20px;

        div {
            margin-top: 10px;
            @include u.skeleton_animate(350px, 15px);

            @include m.responsive(xls) {
                @include u.skeleton_animate(80%, 15px);
            }
        }
    }
}