@use "../../../sass/variables" as v;

@keyframes tooltip_animate {
  0% {
    transform: translate(-10%, 10px);
    opacity: 0;
  }

  100% {
    transform: translate(-10%, 0);
    opacity: 1;
  }
}

.tooltip_wrapper {
  position: relative;

  &:hover {
    .tooltip_content {
      display: inline-block;
    }
  }

  .tooltip_content {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: -50%;
    transform: translate(-10%, 0);
    padding: 6px 10px;
    background-color: v.$primary-color;
    border-radius: 5px;
    border: 1px solid v.$secondary-color;
    animation: tooltip_animate 0.2s linear;
    text-align: center;

    .tooltip_arrow_icon {
      position: absolute;
      fill: white;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
      filter: drop-shadow(0px -0.2px 0.0px v.$secondary-color);

    }
  }
}