@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;

.features {
  @include u.flex-around;
  margin: 70px 0;
  text-align: center;
  @include m.responsive(lg) {
    gap: 50px;
  }
  @include m.responsive(sm) {
    @include u.col-center;
  }
  .features_item {
    h6 {
      font-size: 17px;
      margin: 8px 0;
      color: v.$text-color;
      // @include u.dark-mode {
      //   color: v.$dark-text-color;
      // }
    }
    p {
      color: v.$secondary-color;
    }
    svg {
      fill: v.$text-color;
      // @include u.dark-mode {
      //   fill: v.$dark-text-color;
      // }
    }
  }
}
