.change_password_form {
    width: 100%;
    .change_password_input {
        margin-bottom: 20px;

    }
    .error_message {
        color: rgb(231, 11, 11);
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: -10px;
    }
}