@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;

.pagination_wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  @include u.flex-center;
  .pagination {
    @include u.row-center;
    gap: 25px;
    .pagination_title {
      @include u.col-center;
      gap: 4px;
      flex-direction: column-reverse;
      font-size: 18px;
      .pagination_range {
        font-weight: 600;
      }
    }
    .pagination_arrow_icon_wrapper {
      cursor: pointer;
      @include u.flex-center;
      width: 40px;
      height: 40px;
      border: 1.5px solid v.$text-color;
      position: relative;
      transition: all 0.2s linear;
      .pagination_arrow_icon {
        fill: v.$text-color;
      }
      &:hover {
        .pagination_arrow_icon {
          fill: v.$primary-color;
        }
        &::after {
          width: 100%;
        }
      }
      &:nth-child(1):hover::after {
        right: auto;
      }
      &:nth-last-child(1):hover::after {
        left: auto;
      }
      &::after {
        transition: all 0.2s linear;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0%;
        height: 100%;
        background-color: v.$text-color;
        z-index: -1;
      }
      &:nth-child(1)::after {
        left: 0;
      }
      &:nth-last-child(1)::after {
        right: 0;
      }
    }
  }
}
