@use '../../../sass/utils-mixins' as u;
@use '../../../sass/mixins' as m;
@use '../../../sass/variables' as v;


.filter_modal {
    margin-bottom: 200px;
}

.filter_modal_wrapper {
    align-items: flex-start;
    padding-block: 20px;
}

.filter_box {
    .filter_modal_icon {
        background-color: v.$text-color;
        fill: v.$primary-color;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin-left: auto;
    }

    .filter_box_top {
        @include u.row-center;
        gap: 20px;

        @include m.responsive(md) {
            display: none;
        }
    }

    .filter_responsive_box {
        display: none;
        @include m.responsive(md) {
            @include u.flex-between;
        }

        .sort_select {
            padding: 10px;
            border-radius: 0px;
            border: 2px solid rgb(185, 185, 185);
            font-size: 15px;
            color: v.$text-color;
            background-color: v.$primary-color;
        }
    }

    .form_select {
        min-width: 200px;

        :global {

            .react-select__control {
                background-color: v.$primary-color;
                border-color: v.$secondary-color;
                color: v.$text-color;
                border-radius: 0;
            }

            .react-select__single-value {
                color: v.$text-color;
            }

            .react-select__menu {
                background-color: v.$primary-color;
                border-color: v.$secondary-color;
            }

            .react-select__option {
                background-color: v.$primary-color;
                color: v.$text-color;

                &--is-focused {
                    background-color: #d6d6d6;
                }

                &--is-selected {
                    background-color: #d6d6d6;
                }

                @include u.dark-mode {
                    &--is-focused {
                        background-color: #333;
                    }

                    &--is-selected {
                        background-color: #555;
                    }

                }
            }

            .react-select__multi-value {
                background-color: #d6d6d6;

                @include u.dark-mode {
                    background-color: #333;
                }

            }

            .react-select__multi-value__label {
                color: v.$text-color;
            }

            .react-select__multi-value__remove {
                background-color: transparent;
                color: v.$text-color;

                &:hover {
                    background-color: #555;
                    color: v.$text-color;
                }
            }
        }
    }


    .search_input {
        min-width: 200px;
        width: auto;
    }
}