@use "../../../sass/mixins" as m;
@use "../../../sass/variables" as v;
@use "../../../sass/utils-mixins" as u;

.filter {
  .filter_header {
    @include u.row-center;
    margin-bottom: 20px;
    gap: 15px;
    h5 {
      font-weight: 400;
      color: v.$text-color;
      font-size: 20px;
    }
    .filter_header_icon {
      display: none;
      transform: rotate(0deg);
      transition: transform 0.2s linear;
      &.open_icon {
        transform: rotate(180deg);
      }
      @include m.responsive(sm) {
        display: block;
      }
    }
  }
  .filter_box {
    padding: 20px;
    border: 1px solid v.$secondary-color;
    margin: 20px 0;
    h6 {
      color: v.$text-color;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .filter_option {
      @include u.row-center;
      gap: 10px;
      &:not(:nth-child(4)) {
        margin-bottom: 6px;
      }
      span {
        font-weight: 300;
        font-size: 14px;
      }
    }
    .filter_range_prices {
      @include u.flex-between;
      margin-bottom: 5px;
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .filter_range {
      width: 100%;
      appearance: none;
      background-color: #ddd;
      cursor: pointer;
      &::-webkit-slider-runnable-track {
        border-radius: 15px;
        height: 10px;
      }
      &::-webkit-slider-thumb {
        appearance: none;
        background-color: v.$secondary-color;
        transition: background-color 0.2s ease-in;
        height: 13px;
        width: 13px;
        margin-top: -1.5px;
      }
      &:focus::-webkit-slider-thumb {
        background-color: v.$third-color;
      }
      &:hover::-webkit-slider-thumb {
        background-color: v.$third-color;
      }
    }
    .filter_range_btn{
      width: 100%;
      margin-top: 14px;
      font-size: 13px;
    }
  }
}
