@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;

@keyframes glare_effect {
    0% {
        opacity: 0.7;
        width: 105px;
        height: 105px;
    }

    100% {
        opacity: 0.1;
        width: 115px;
        height: 115px;
    }
}

@include m.responsive(sm) {
    @keyframes glare_effect {
        0% {
            opacity: 0.7;
            width: 80px;
            height: 80px;
        }

        100% {
            opacity: 0.1;
            width: 90px;
            height: 90px;
        }
    }
}

.support_chatbot_wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;

    @include m.responsive(xs) {
        bottom: 10px;
        right: 10px;
    }

    .support_chatbot_btn {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        @include u.flex-center;
        position: relative;
        cursor: pointer;

        @include m.responsive(sm) {
            width: 75px;
            height: 75px;
        }

        .glare_effect {
            position: absolute;
            background-color: v.$third-color;
            border-radius: 50%;
            z-index: -1;
            animation: glare_effect 1s linear infinite;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

    }
}