@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;

.dropdown_wrapper {
  position: relative;
  margin: auto 0;
}
.dropdown_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  background-color: v.$primary-color;
  border: 1px solid v.$secondary-color;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 5px;
  z-index: 10;
}
.dropdown_item {
  @include u.row-center;
  gap: 5px;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  border-radius: 4px;
  color: v.$text-color;
  &:hover {
    background-color: rgb(235, 235, 235);
    @include u.dark-mode {
      background-color: rgb(31, 31, 31);
    }
  }
}
.dropdown_trigger {
  @include u.row-center;
}
