@use "../../../../sass/utils-mixins" as u;
@use "../../../../sass/variables" as v;
@use "../../../../sass/mixins" as m;


.support_chatbot_panel_not_showing_content {
    position: absolute;
    bottom: calc(100% + 20px);
    right: 20px;
    width: max-content;

    @include m.responsive(sm) {
        right: 10px;
    }

    .support_chatbot_panel_not_showing_text {
        @include u.row-center;
        background-color: v.$primary-color;
        border-radius: 10px;
        gap: 10px;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        @include u.dark-mode {
            box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(197, 226, 255, 0.15) 0px 0px 0px 1px;
        }

        p {
            flex: 1;
        }

    }

    .support_chatbot_panel_not_showing_arrow {
        position: absolute;
        right: 20px;
        bottom: -13px;
        fill: v.$primary-color;
        filter: drop-shadow(0px 2px 0px rgba(27, 31, 35, 0.15));

        @include u.dark-mode {
            filter: drop-shadow(0px 2px 0px rgba(198, 226, 255, 0.15));
        }

    }
}