:root {
  --primary-color: #ffffff;
  --secondary-color: #6b7280;
  --third-color: #374151;
  --text-color: #000000;
}
.dark {
  --primary-color: #000000;
  --secondary-color: #818999;
  --third-color: #e5ecf9;
  --text-color: #ffffff;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$third-color: var(--third-color);
$text-color: var(--text-color);
$font-family: "Outfit", sans-serif;
$secondary-font-family: "Prata", serif;

$breakpoint-xs: 400px;
$breakpoint-xls: 550px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1400px;
