@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;

.sidebar {
  background-color: v.$primary-color;
  width: 100%;
  height: 100%;
  margin-left: auto;
  font-weight: 500;
  .sidebar_top{
    @include u.flex-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.343);
    padding: 15px;
    width: 100%;
    .backButton {
      @include u.row-center;
      gap: 10px;
    }
    .themeButton{
      @include u.row-center;
      gap: 4px;
    }
  }
  .aside_link {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.343);
    text-transform: uppercase;
    width: 100%;
    &.active {
      background-color: black;
      color: white;
    }
  }
}
