@use "../../../sass/utils-mixins" as u;
@use "../../../sass/mixins" as m;
@use "../../../sass/variables" as v;

.theme_btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 30;
  width: 50px;
  height: 50px;
  background-color: v.$text-color;
  cursor: pointer;
  @include u.flex-center;
  svg {
    fill: v.$primary-color;
  }
}
