@use "../../../sass/utils-mixins" as u;
@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;

.return_top_btn {
  position: fixed;
  bottom: 50px;
  right: 160px;
  cursor: pointer;
  background-color: v.$text-color;
  width: 50px;
  height: 50px;
  @include u.flex-center;
  z-index: 30;

  @include m.responsive(xls) {
    right: 140px;
    bottom: 40px;
  }

  svg {
    fill: v.$primary-color;
  }
}