@use "../../../../sass/utils-mixins" as u;
@use "../../../../sass/variables" as v;
@use "../../../../sass/mixins" as m;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.support_chatbot_panel {
    position: absolute;
    bottom: calc(100% + 40px);
    width: 400px;
    right: 0;
    background-color: v.$primary-color;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    @include u.dark-mode {
        box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(196, 226, 255, 0.15) 0px 0px 0px 1px;
    }

    @include m.responsive(xs) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 130px;
        width: 100vw;
        z-index: 4000;
        border-radius: 0
    }

    .support_chatbot_panel_content {
        .support_chatbot_panel_top {
            @include u.flex-between;
            position: sticky;
            top: 0;
            width: 100%;
            padding: 12px;
            z-index: 120;
            background-color: rgba(0, 0, 0, 0.06);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            border-radius: 20px 20px 0 0;

            @include u.dark-mode {
                background-color: rgba(255, 255, 255, 0.06);
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px, rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
            }

            @include m.responsive(xs) {
                border-radius: 0
            }

            .support_chatbot_panel_top_left {
                @include u.row-center;
                gap: 10px;

                .support_chatbot_panel_agent_infos {
                    h6 {
                        font-size: 14px;
                    }

                    span {
                        font-size: 13px;
                        text-wrap: nowrap;
                    }
                }

                .support_chatbot_panel_top_left_avatar {
                    position: relative;

                    .agent_icon {
                        background: #db70ff;
                        background: linear-gradient(90deg, rgba(219, 112, 255, 1) 0%, rgba(199, 87, 186, 1) 50%);
                        padding: 3px;
                        border-radius: 6px;
                        fill: white;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 50%;
                        outline: 1px solid v.$third-color;
                    }
                }

            }

            .support_chatbot_panel_top_right {
                .support_chatbot_panel_top_close_btn {
                    background-color: rgba(0, 0, 0, 0.08);
                    @include u.flex-center;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }

        .support_chatbot_panel_message_history {
            overflow-y: auto;
            margin-bottom: 85px;
            padding: 12px;
            @include u.col-start;

            &::-webkit-scrollbar {
                width: 0px;
            }

            .support_chatbot_panel_skeleton_message_wrapper {
                width: 90%;

                @include m.responsive(xs) {
                    width: 100%;
                }

                .support_chatbot_panel_skeleton_message {
                    display: flex;
                    gap: 12px;

                    @include m.responsive(xs) {
                        gap: 6px;

                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: top;
                        margin-top: auto;

                        @include m.responsive(xs) {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .support_chatbot_panel_skeletons_text {
                        flex: 1;
                        width: 100%;
                        @include u.col-start;
                        gap: 4px;
                        background-color: rgba(0, 0, 0, 0.08);
                        padding: 5px;
                        border-radius: 4px;

                        @include u.dark-mode {
                            background-color: rgba(255, 255, 255, 0.08);
                        }

                        div {
                            border-radius: 5px;
                            width: 100%;
                            @include u.skeleton_animate(100%, 8px, rgb(48, 48, 48))
                        }
                    }
                }

            }

            .support_chatbot_panel_message_item {
                width: 90%;
                margin-bottom: 20px;

                @include m.responsive(xs) {
                    width: 100%;
                }

                &.is_my_message {
                    margin-left: auto;
                }

                .support_chatbot_panel_example_questions {
                    @include u.col-start;
                    gap: 10px;
                    margin-top: 20px;

                    .support_chatbot_panel_example_question {
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.08);
                        @include u.flex-between;
                        gap: 10px;
                        font-size: 14px;
                        padding: 4px 6px;
                        border-radius: 4px;
                        cursor: pointer;

                        span {
                            flex: 1;
                        }


                        @include u.dark-mode {
                            background-color: rgba(255, 255, 255, 0.08);
                        }

                    }
                }

                .support_chatbot_panel_message {
                    display: flex;
                    gap: 12px;

                    @include m.responsive(xs) {
                        gap: 6px;

                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: top;
                        margin-top: auto;

                        @include m.responsive(xs) {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    p {
                        flex: 1;
                        font-size: 13px;
                        background-color: rgba(0, 0, 0, 0.08);
                        padding: 5px;
                        border-radius: 4px;

                        &.is_my_message{
                            background-color: red !important;
                        }

                        @include u.dark-mode {
                            background-color: rgba(255, 255, 255, 0.08);
                        }
                    }


                    &.is_my_message {
                        p {
                            background-color: v.$third-color;
                            color: v.$primary-color;
                        }
                    }
                }

                .support_chatbot_panel_products {
                    @include u.col-start;
                    margin-top: 20px;
                    gap: 10px;
                    z-index: 10;

                    .support_chatbot_panel_product {
                        display: flex;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.08);
                        border-radius: 10px;
                        padding: 5px 8px;

                        @include u.dark-mode {
                            background-color: rgba(255, 255, 255, 0.08);
                        }

                        img {
                            height: 50px;
                            border-radius: 10px;

                            @include m.responsive(xs) {
                                height: 45px;
                            }
                        }

                        .support_chatbot_panel_product_info {
                            flex: 1;
                            margin-left: 10px;
                            margin-right: 5px;

                            h6 {
                                font-size: 14px;

                                @include m.responsive(xs) {
                                    font-size: 13px;
                                }
                            }

                            .support_chatbot_panel_product_price_and_rating {
                                @include u.row-center;
                                margin: 4px 0;
                                gap: 10px;

                                span {
                                    font-weight: 500
                                }

                                @include m.responsive(xs) {
                                    font-size: 13px;
                                }


                                .support_chatbot_panel_product_avg_rating {
                                    @include u.row-center;
                                    gap: 5px;

                                    svg {
                                        fill: orangered;
                                    }

                                }
                            }

                            .support_chatbot_panel_product_sizes {
                                display: flex;
                                gap: 3px;
                                font-size: 12px;

                                @include m.responsive(xs) {
                                    font-size: 11px;
                                }

                                div {
                                    border: 1px solid rgb(207, 206, 206);
                                    padding: 4px 8px;

                                }
                            }
                        }

                        .support_chatbot_panel_product_actions {
                            div {
                                z-index: 50;
                                @include u.flex-center;
                                width: 35px;
                                height: 35px;
                                background-color: rgb(237, 237, 237);
                                border: 1px solid rgb(207, 206, 206);
                                border-radius: 10px;
                                cursor: pointer;

                                @include u.dark-mode {
                                    background-color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }

        .support_chatbot_panel_bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: flex-start;
            height: max-content;
            gap: 10px;
            padding: 12px;
            background-color: rgb(243, 243, 243);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            border-radius: 0 0 20px 20px;

            @include u.dark-mode {
                background-color: rgb(27, 27, 27);

            }

            @include m.responsive(xs) {
                border-radius: 0
            }

            .support_chatbot_panel_bottom_input {
                flex: 1;
                background-color: rgba(0, 0, 0, 0.08);
                border: 0;
                border-radius: 15px;

                @include u.dark-mode {
                    background-color: rgba(233, 233, 233, 0.08);
                }

                .support_chatbot_panel_bottom_input_item {
                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    max-height: 100px;

                }
            }

            .support_chatbot_panel_bottom_action_btn {
                background-color: v.$text-color;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                @include u.flex-center;

                &:has(svg.support_chatbot_panel_bottom_loading) {
                    pointer-events: none;
                    opacity: 0.5;
                }

                &.is_listening {
                    background-color: darkblue;
                }

                svg {
                    fill: v.$primary-color;

                    &.support_chatbot_panel_bottom_loading {
                        animation: spin 0.4s linear infinite;

                    }
                }


            }

        }

    }

    .support_chatbot_panel_arrow {
        position: absolute;
        bottom: -27.5px;
        right: 30px;
        fill: rgb(243, 243, 243);
        filter: drop-shadow(0px 2px 0px rgba(27, 31, 35, 0.25));

        @include u.dark-mode {
            fill: rgb(25, 25, 25);
            filter: drop-shadow(0px 2px 0px rgba(142, 161, 182, 0.25));
        }

        @include m.responsive(sm) {
            right: 20px;
        }
    }

}