@use "../../../../../sass/utils-mixins" as u;

.rating {
  @include u.row-center;
  gap: 3px;
  margin: 8px 0;
  .star_icon {
    fill: orangered;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.1s linear;
    &.starred {
      opacity: 1;
    }

  }
}
