.reset_password_request_modal_content {
    h6 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 8px;
    }

    button {
        margin-top: 10px;
        margin-left: auto;
    }

}