<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Success</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <img class="logo" src="cid:logo" alt="logo" />
      <h5>Reset Password Code</h5>
      <p>
        To reset your password, please enter the 6-digit code below. Do not
        share this code with anyone due to security risks.
      </p>
      <span> The code will be invalid in 5 minutes.</span>

      <div class="code"><%= resetCode %></div>
    </div>
  </body>
</html>
